body {
    background-color: #DACDC7;
    text-align: center;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    max-width: 1280px;
    margin: auto;
}

nav ul {
    display: flex;
    list-style: none; /* This will remove the dot from the li */
}

nav ul li a {
    padding: 12px;
    text-decoration: none;
}

.centerNav {
    flex-grow: 2; /* This will push the other ul to the sides */
    display: flex;
    justify-content: center;
    margin-right: 250px;
}

.tasty-table {
    color: #225e4f;
    font-weight: bold;
    font-size: 20px;
}

a {
    color: black;
}


/* CATEGORY PAGE */
/* Meals List */
/* Category section  */
.meal-list-title {
    font-size: 56px;
    max-width: 1280px;
    margin: auto;
    padding: 24px 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.meal-section {
    max-width: 1280px;
    display: grid;
    margin: auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust as needed */
    grid-gap: 80px 30px; /* Adjust as needed */
}

/* Category cards */
.meal-card {
    background-color: white;
    width: 220px;
    height: 330px;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
}

.meal-title {
    width: 200px;
    align-self: center;
    font-size: 16px;
}

.meal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 4px 32px;
    font-size: 16px;
    max-width: 150px;
    min-width: 60px;
    margin-bottom: 40px;
    margin-top: -12px;
}

.meal-card-img {
    margin-bottom: 12px;
    align-self: center;
    width: 220px; 
    height: 220px; 
    border-radius: 2rem;
}
.meal-card-btn {
    background-color: #BCC7B9;
    padding: 8px;
    border-radius: 1rem;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}


/* RECIPE PAGE */
.recipe-title {
    font-size: 64px;
}

.recipe-header {
    display: flex;
    max-width: 1280px;
    margin: auto;
    justify-content: flex-end;
    place-items: center;
    position: relative;
}

.recipe-title-container {
    background-color: #CDC2B4;
    padding: 50px;
    width: 50%;
    overflow: visible;
    border-radius: 1.5rem;
    position: absolute; /* Added */
    left: 0; /* Added */
    top: 50%; /* Added */
    transform: translateY(-50%); /* Added */
    opacity: 0.8; /* Added */
    color: #000; /* Added */
    z-index: 1; /* Added */
}

.recipe-img {
    border-radius: 1.5rem;
}

.ingredients-title {
    font-size: 44px;
    max-width: 1280px;
    justify-content: center;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 16px;
}

.ingredients-list {
    max-width: 1280px;
    justify-content: center;
    margin: auto;
}

ul {
    list-style-type: none;
  }

.list {
    margin-right: 40px;
    font-size: 20px;
}

.instructions-title {
    font-size: 44px;
    max-width: 1280px;
    justify-content: center;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.instructions {
    max-width: 1280px;
    justify-content: center;
    margin: auto;
    margin-bottom: 36px;
    font-size: 20px
}

.video {
    max-width: 1280px;
    width: 80%;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

