body {
    background-color: white;
    text-align: center;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    max-width: 1280px;
    margin: auto;
}

nav ul {
    display: flex;
    list-style: none; /* This will remove the dot from the li */
}

nav ul li a {
    padding: 12px;
    text-decoration: none;
}

.centerNav {
    flex-grow: 2; /* This will push the other ul to the sides */
    display: flex;
    justify-content: center;
    margin-right: 250px;
}

/* Meals List */
/* Category section  */
.meal-list-title {
    font-size: 56px;
    max-width: 1280px;
    margin: auto;
    padding: 24px 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.meal-section {
    max-width: 1280px;
    display: grid;
    margin: auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust as needed */
    grid-gap: 80px 30px; /* Adjust as needed */
}

/* Category cards */
.meal-card {
    background-color: aqua;
    width: 220px;
    height: 330px;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
}

.meal-title {
    width: 200px;
    align-self: center;
    font-size: 16px;
}

.meal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 4px 32px;
    font-size: 16px;
    max-width: 150px;
    min-width: 60px;
    margin-bottom: 40px;
    margin-top: -12px;
}

.meal-card-img {
    margin-bottom: 12px;
    align-self: center;
    width: 220px; 
    height: 220px; 
    border-radius: 2rem;
}
.meal-card-btn {
    background-color: #BCC7B9;
    padding: 8px;
    border-radius: 1rem;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}