body {
    background-color: white;
    text-align: center;
}

header {
    background-color: #efdbcd;
}

h2 {
    font-family: 'Satisfy', cursive;
    font-size: 32px;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #efdbcd;
}

h3 {
    font-family: 'PT Serif', serif;
    font-size: 25px;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    border-style: double;
    border-color: rgb(11, 12, 8);
    width: 450px;
    height: 30px;
} 

h4 {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #efdbcd;
    color: rgb(1, 68, 33)
}

.header-image {
    width: 200px; 
    display: inline-block;
    position: relative;
}

p {
    font-size: 17px;
    font-family: 'PT Serif', serif;
    text-align: center;
    position: relative;
    border-style: dashed;
    padding: 20px 10px 20px 10px;
    width: 75%;
    height: auto;
    margin: auto;
}

#search-bar {
    display: flex;
    flex-direction: row;
}

#search-input {
    position: relative;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    width: 250px;
    margin-top: 20px;
}

#search {
    font-family: 'PT Serif', serif;
    display: inline-block;
    padding: 10px; 
    background-color: peachpuff;
    color: black;
    border-radius: 4px;
    transition-duration: .4s;
    border-color: white;
}

#search:hover {
    background-color: rgb(236, 174, 119);
    color: white;
}

#random {
    font-family: 'PT Serif', serif;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    background-color: peachpuff;
    border-color: white;
    border-radius: 4px;
    transition-duration: .4s;
} 

#random:hover {
    background-color: rgb(236, 174, 119);
    color: white;
}

.recipe-photo {
    max-width: 50%;
    height: auto;
}

.recipe-list {
    font-family: 'PT Serif', serif;
    position: center;
    display: block;
    margin: 0 auto;
}

ul {
    justify-content: center;
    font-family: 'PT Serif', serif;
    margin: 0 auto;
    margin-left: 0px;
    padding: 0px;
}
