@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* navbar */

header {
    background-color: #aad2ba5e ;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    align-items: center;
    
}

nav ul {
    display: flex;
    list-style: none; /* This will remove the dot from the li */
}

a {
    padding: 12px;
    text-decoration: none;
}

.leftNav a {
    font-weight: bold;
}

.centerNav {
    flex-grow: 2; /* This will push the other ul to the sides */
    display: flex;
    justify-content: center;
    margin-right: 250px;
}

.tasty-table {
    color: #225e4f;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Lobster', cursive;
}

/* Hero Section */
#Hero-container {
    background-image: url('assets/hero.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-position: -300px -800px; */
}

#Hero {
    display: flex;
    max-width: 1280px;
    margin: auto;
    justify-content: end;
    flex-direction: column;
}

#Hero-title {
    font-size: 110px;
    text-align: left;
}

#Hero-left {
    max-width: 55%;
}
/* Search bar and section */
.search-section {
    max-width: 400px;
    text-align: left;

}
.search-bar {
    width: 350px;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
    border-radius: 2rem;
    background-color: #fff;
    border: 1px solid #ccc;
}

#search-input {
    padding: 10px;
    width: calc(100% - 40px); /* Width of the parent minus padding and space for button */
    border: none;
    border-radius: 1.5rem;
    outline: none;
}

#search-button {
    position: absolute;
    top: 50%;
    right: 15px; /* Adjust this value to move the button left or right within the input field */
    transform: translateY(-50%);
    background-color: #95A698;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
}



/* Surprise Btn */
.random-section {
    display: flex;
    margin-top: 8px;
    margin-bottom: 12px;
}

#inspo-title {
    font-size: 16px;
    margin-left: 4px;
}

#random {
    background-color: #728F84;
    color: #ffffff;
    padding: 0px 12px;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    height: 36px;
    margin-top: 6px;
    margin-left: 12px;
}

/* Category section  */
.categories-title-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    max-width: 1280px;
    margin: auto;
    text-align: center;
}

.category-landing-title {
    justify-self: center;
}

.more-categories {
    text-align: right;
    justify-self: end;
    text-decoration: none;
    color: #225e4f;
    font-size: 16px;
    font-weight: bold;
}

a {
    color: black;
}


.category-section {
    max-width: 1280px;
    display: flex;
    margin: auto;
    justify-content: center;
    grid-template-columns: repeat(3, 30px [col-start]);
    gap: 0px 150px;
    margin-bottom: 40px;
}


/* Category cards */
.category-card {
    background-color: #f0f0f0;
    width: 175px;
    height: 175px;
    border-radius: 1rem;
    display: flex;
}

.category-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    font-size: 16px;
    max-width: 60px;
    min-width: 60px;
}

.category-card-img {
    margin-top: 12px;
    margin-left: 8px;
}
.category-card-btn {
    background-color: #bcc7b9;
    padding: 8px;
    border-radius: 1rem;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

/* CATEGORY PAGE */
/* Category section */
.category-page-section {
    max-width: 1280px;
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: repeat(3, 300px [col-start]);
    gap: 36px 0px;
    margin-bottom: 40px;
}

.category-page-title {
    font-size: 60px;
    max-width: 1280px;
    margin: auto;
    padding: 24px 0px;
    display: flex;
    justify-content: center;
}

/* FOOTER */
footer {
    background-color: #aad2ba5e ;
}

.footer-container {
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.footer-links-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-links-container {
    font-weight: bold;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.footer-container-2 {
    display: flex;
    max-width: 1280px;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    font-size: 5px;
    gap: 1px;
}

.built {
    margin-top: -4px;
}

/* OUR STORY PAGE */
.our-story {
    max-width: 1000px;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 12px;
    
}

.story-container {
    background: #ffffff; 
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2)
}

.our-story-title {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.each-title {
    align-self: flex-start;
    font-size: 32px;
    text-align: left;
    color:#225e4f;
    margin-top: 20px; 
    border-bottom: 2px solid #225e4f;
}

.story-paragraph {
    font-size: 20px;
    align-self: flex-start;
    line-height: 1.5;
    margin-bottom: 20px; 
}


/* RESPONSIVE SIZING */

@media (max-width: 425px) { 
.nav {
    width: 100%;
}

/* hero section */
#Hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
}
#Hero-left {
    max-width: 320px;
}
#Hero-title {
    font-size: 52px;
    text-align: left;
    line-height: 1.2;

}

.search-bar {
    width: 290px;
    margin-left: -5px;
}

/* random btn section */
.random-section {
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;

}

/* categories section */
.categories-title-container {
    flex-direction: column;
}

.category-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    justify-items: center;
    align-items: center;
}
.category-landing-title {
    margin-left: -24px;
}
.category-card {
    margin-left: -40px;
}
.more-categories {
    margin-left: -30px;
}
/* Footer section */
.footer-container {
    display: grid;
    justify-content: center;
}

.footer-links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.social-icons {
    justify-content: center;
}


/* CATEGORIES PAGE */
.category-page-title {
    font-size: 40px;
}
.category-page-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin-left: -44px;
    gap: 40px;
}
}


/* Up to 1024px, Tablet sizing */
@media (max-width: 1024px) { 
nav {
    width: 100%;
}
/* hero section */
#Hero-container {
    background-image: url('assets/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: -300px -800px; */
}

#Hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 90%;

}
#Hero-left {
    width: 100%;
}
#Hero-title {
    font-size: 60px;
    text-align: left;
    line-height: 1.2;
}

.search-bar {
    width: 290px;
}
.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.random-section {
    justify-content: center;
    align-items: center;
    margin: auto
}

/* categories section */
.categories-title-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
}

.category-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    justify-items: center;
    align-items: center;
    justify-self: center;
    width: 80%;
}

/* Footer section */
.footer-container {
    display: grid;
    justify-content: center;
}

.footer-links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.social-icons {
    justify-content: center;
}

/* CATEGORIES PAGE */
.category-page-title {
    font-size: 40px;
}
.category-page-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin-left: -44px;
    gap: 40px;
    width: 80%;
    justify-content: center;
    margin: auto;
}
}

/* Hamburger menu */

.hamburger-menu {
    display: none !important;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .hamburger-menu .fas {
    font-size: 2em;
  }
  
@media screen and (max-width: 600px) {
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    }

    .centerNav {
    flex-grow: 1;
    text-align: center;
    margin-right: 68px;
    }

    .leftNav {
    list-style: none;
    padding-left: 0;
    padding: 12px 0px;
    }
    
    .leftNav li {
    display: none;
    margin: 12px;
    font-size: 20px;
    }

.hamburger-menu {
    display: block !important;
}

.leftNav.show {
    position: absolute;
    top: 45px;
    background-color: #aad2ba;
    width: 100%;
    flex-direction: column;
}

.leftNav.show li {
    display: block;
    padding: 12px;
} 
}
  
  
  
  